<!DOCTYPE html>
<html lang="en">
<script src="../static/WAVjL.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Title</title>
</head>
<body>
<p>WAVL Scoresheet Generator</p>
<button id="download" disabled>Download File</button>
<label for="date">Select a Date:</label>
<input type="date" id="date" name="date" onchange="enable_button()">
<p>Select WAVjL venue(s):</p>
<input type="checkbox" onClick="select_all_venue()" id="ALL_WAVjL">
<label for="ALL_WAVjL" id="al_v">Select All Venues</label><br><br>
<input type="checkbox" id="venue_1" name="WAVjL">
<label for="venue_1">Cockburn</label><br>
<input type="checkbox" id="venue_2" name="WAVjL">
<label for="venue_2">Loftus</label><br>
<input type="checkbox" id="venue_3" name="WAVjL">
<label for="venue_3">Warwick</label><br>
<input type="checkbox" id="venue_4" name="WAVjL">
<label for="venue_4">Aquinas College</label><br>
<input type="checkbox" id="venue_5" name="WAVjL">
<label for="venue_5">Bendat</label><br>
<input type="checkbox" id="venue_6" name="WAVjL">
<label for="venue_6">Curtin Stadium</label><br>
<input type="checkbox" id="venue_7" name="WAVjL">
<label for="venue_7">ECU Mt. Lawley</label><br>
<input type="checkbox" id="venue_8" name="WAVjL">
<label for="venue_8">Geographe Leisure</label><br>
<input type="checkbox" id="venue_9" name="WAVjL">
<label for="venue_9">Kingsway</label><br>
<input type="checkbox" id="venue_10" name="WAVjL">
<label for="venue_10">Mandurah ARC</label><br>
<input type="checkbox" id="venue_11" name="WAVjL">
<label for="venue_11">Melville LeisureFit</label><br>
<input type="checkbox" id="venue_12" name="WAVjL">
<label for="venue_12">Methodist Ladies College</label><br>
<input type="checkbox" id="venue_13" name="WAVjL">
<label for="venue_13">The Rise</label><br>
<input type="checkbox" id="venue_14" name="WAVjL">
<label for="venue_14">UWA Rec. Centre</label><br>
<input type="checkbox" id="venue_15" name="WAVjL">
<label for="venue_15">Wesley College</label><br><br>

<button onclick="main()" id="WAVL" disabled>Generate WAVL Scoresheets</button>
</body>
</html>